<div class="login-container"> 
  <div class="login-header">
    <h2>Login To-Do List App</h2>
  </div>

  <form (submit)="login()" class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" name="username" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" required>
    </mat-form-field>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <div class="form-buttons">
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>login</mat-icon> Login
      </button>
      
      <button mat-raised-button color="accent" class="register-button" [routerLink]="['/register']">
        <mat-icon>person_add</mat-icon> Register
      </button>
    </div>
  </form>
</div>
