<div class="task-form-header">
  <h2>Add Task</h2>
</div>

<form (ngSubmit)="onSubmit()" class="task-form">

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="task.title" name="title" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="task.description" name="description" required></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Due Date</mat-label>
    <input matInput id="dueDateInput" name="dueDate" required />
 </mat-form-field>

  <mat-checkbox [(ngModel)]="task.isCompleted" name="isCompleted">Completed</mat-checkbox>

  <button mat-raised-button color="primary" type="submit">
    {{ isEditMode ? 'Update' : 'Save' }}
  </button>
</form>

