.mat-header-cell {
    background-color: #3f51b5 !important;
    color: white !important;            
    font-weight: bold;                 
    text-align: center;                   
  }
  
  .mat-header-row {
    border-bottom: 2px solid #3f51b5 !important;
  }
  
  .mat-row {
    border-bottom: 1px solid #ddd;
  }
  
  .button-space {
    margin-right: 10px;
  }

.task-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #2196f3 0%, #9c27b0 100%);
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;
  }
  
  .task-header h2 {
    margin-bottom: 15px;
    font-size: 24px; 
    font-weight: bold; 
  }
  
  .add-task-button {
    background-color: white !important; 
    color: #3f51b5 !important; 
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 8px; 
    border: 2px solid #3f51b5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
  }

  .add-task-button:hover {
    background-color: #3f51b5 !important;
    color: white !important;
  }
  